body {
    font-family:Arial, Helvetica, sans-serif;
    background: blueviolet;
    margin: 100px;
    padding:100px;


}
.container  {
    display: flex;
    justify-content: center;
    gap: 20px;
   




}

  
    

.cart {
    width: 220px;
    padding: 22px;
    background: beige;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(0, 0, 0 , 0,1);
    font-style: oblique;
    font-size: 15px;
} 
.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    
}
.button {
padding: 10px  20px;
background: #394498;
border: none;
border-radius: 15px;
cursor: pointer;
font-size: 10px;

}